[submodule "external/sequential-line-search"]
	path = external/sequential-line-search
	url = https://github.com/yuki-koyama/sequential-line-search.git
[submodule "external/visoptslider"]
	path = external/visoptslider
	url = https://github.com/yuki-koyama/visoptslider.git
[submodule "external/enhancer"]
	path = external/enhancer
	url = https://github.com/yuki-koyama/enhancer.git
[submodule "external/optimization-test-functions"]
	path = external/optimization-test-functions
	url = https://github.com/yuki-koyama/optimization-test-functions.git
[submodule "external/string-util"]
	path = external/string-util
	url = https://github.com/yuki-koyama/string-util.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
